* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../img/bg-2.png');
    background-attachment: fixed;
}

.home {
    width: 1140px;
    overflow: hidden;
    margin-bottom: 10px;
}

header {
    width: 100%;
    overflow: hidden;
    background-color: orangered;
    margin-top: 10px;
    padding: 15px;

}

header img {
    float: left;
}

header li {
    list-style: none;
    display: inline;
    font-weight: bold;

}

header li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

header img:hover {
    border-radius: 20%;
    box-shadow: 0 6px 13px 0 rgba(0, 0, 0, .6);
    opacity: .6;
}

header a:hover {
    border-radius: 20%;
    box-shadow: 0 6px 13px 0 rgba(0, 0, 0, .6);
    opacity: .6;
}

header .links {
    float: left;
    padding-top: 10px;
}

header .links li {
    display: inline;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

header .user {
    padding-top: 10px;
    float: right;
}

header .user li {
    padding: 5px
}

h5 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 50px;
}

main div.reg {
    max-width: 400px;
}

#name,
#email,
#password {
    width: 100%;
    padding: 10px 10px;
    margin-top: 5px;
    display: inline-block;
    border: 1px solid #ccc;
}

div.nm,
div.em,
div.pw {
    margin-top: 20px;
}

h4 {
    margin-top: 30px;
    text-transform: capitalize;
    font-size: 20px;
}

select {
    width: 50%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

div.genderForm {
    margin-top: 20px;
}

input {
    cursor: pointer;
}

label {
    margin-left: 2px;
    margin-right: 4px;
    font-size: 18px;
    cursor: pointer;
}

div.hobbyForm {
    margin-top: 20px;
}

textarea {
    margin: 20px 0;
    resize: none;
    width: 80%;
}

div.terminos {
    margin-bottom: 20px;
}

button {
    text-decoration: none;
    border-radius: 10px;
    width: 180px;
    height: 30px;
    background-color: rgb(70, 70, 255);
    border: none;
    color: white;
    border: none;
    display: inline;
    cursor: pointer;
    margin-bottom: 40px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 17px;
}


button:hover {
    box-shadow: 0 6px 13px 0 rgba(0, 0, 0, .7);
    color: rgba(10, 2, 0, 0.5);
}